#Button2 {
  background: black;
  color: #C5EFCB;
  border-color: #C5EFCB;
  cursor: crosshair;
}

.subtitle {
  color: #C5EFCB;
}

h3 {
  color: #A9C5A0;
}

body {
  background-image: url("about.gif");
  animation: loopingText 4s linear infinite;
  height: 100vh;
}

img {
  width: 360px;
}

@media only screen and (max-width: 720px) {

  img {
    visibility: hidden;
    display: none;
  }
}