#Button2 {
  background: black;
  color: #C5EFCB;
  border-color: #C5EFCB;
  cursor: crosshair;
}

body {
  background-image: url("about.gif");
  animation: loopingText 50s linear infinite;
  height: 100vh;
}

img {
  width: 360px;
}