body{
    justify-content: left ;
}

.rightSidebar h1 {
    color: plum;
}

h3 {
    color: palevioletred;
}

.container {
  box-sizing: border-box;
}

.flex {
  display: flex;
  box-sizing: border-box;
}

.menu {
    height: fit-content !important;
}

.siteNavigation {
    width: 480px !important;
}

#Button5 {
    background: black;
    color: pink;
    border-color: pink;
    cursor: crosshair;
}

section {
    width: 480px !important;
}

.rightSidebar {
  position: relative;
  margin-left: 20px;
  box-sizing: border-box;
  background-color: black;
  border: outset purple 2px;
  color: white;
  height: fit-content;
  width: 50vw;
  max-width: 100%;
  min-width: 50%;
  padding: 20px;
  line-height: 30px;

  font-family: "Faculty Glyphic", sans-serif;
}

.rightSidebar div[id] {
    display: none;
}


.rightSidebar div[id]:target {
    display: block;
}

.rightSidebar:target {
    display: block;
}

.homeButton {
    background: black;
    color: white;
    border-color: purple;
    padding: 15px 100px 15px;
    margin-bottom: 20px;

    box-sizing: border-box;
    max-width: 300px;
    width: 100vh;

    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.homeButton:hover {
    background: black;
    color: pink;
    border-color: pink;
    cursor: pointer;
}

#legacy {
    margin-top: 30px;
    max-width: fit-content;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: underline;
    color: inherit;
}

body {
    background-image: url("blog.gif");
    animation: loopingText 110s linear infinite;
    height: 100vh;
}


@keyframes loopingText {
	0% {
		background-position: 0% 0%;
	}
  
	100% {
		background-position: 100% 100%;
	}
}
