body{
    justify-content: left ;
}

.rightSidebar h1 {
    color: #C5EFCB;
}

h3 {
    color: #A9C5A0;
}

h4 {
    color: #7f9478;
}

b {
  color: #d6a4ff;
}

i {
  color: #daffdf;
}

.container {
  box-sizing: border-box;
}

.flex {
  display: flex;
  box-sizing: border-box;
}

.menu {
    height: fit-content !important;
}

.siteNavigation {
    width: 480px !important;
}

#Button5 {
    background: black;
    color: #C5EFCB;
    border-color: #C5EFCB;
    cursor: crosshair;
}

section {
    width: 480px !important;
    padding: 15px 50px 15px !important;
}

.rightSidebar {
  position: relative;
  margin-left: 20px;
  box-sizing: border-box;
  background-color: black;
  border: dashed #58189A 2px;
  color: white;
  height: fit-content;
  width: 50vw;
  max-width: 100%;
  min-width: 525px;
  padding: 20px;
  line-height: 30px;

  font-family: "Faculty Glyphic", sans-serif;
}

.rightSidebar div[id] {
    display: none;
}


.rightSidebar div[id]:target {
    display: block;
}

.rightSidebar:target {
    display: block;
}

body {
    background-image: url("blog.gif");
    animation: loopingText 110s linear infinite;
    height: 100vh;
}

img {
    display: block;
    margin: auto;
    width: 50%;
    max-height: 300px;
    object-fit: contain;
}

.homeButton {
    display: block;
    position: fixed;
    top: 85vh;
    left: 10px;
    align-self: center;
    max-width: 90px !important;
    padding: 15px 15px 15px !important;
}

#toggleBG {
    display: block;
    position: fixed !important;
    min-width: 150px;
    top: 93vh !important;
}

@media only screen and (max-width: 720px) {

  html {
    scroll-behavior: smooth;
  }
    
  .container {
    max-width: 500px;
  }

  .flex {
    flex-direction: column;
  }

  .rightSidebar {
    position: relative;
    margin-left: 0;
    width: 100vw;
    max-width: 500px;
  }

  .homeButton {
    display: block;
    position: fixed;
    top: 86vh;
    left: 82vw;
    align-self: center;
    max-width: 90px !important;
    padding: 15px 15px 15px !important;
  }
  /*
  #toggleBG {
    display: block !important;
    position: fixed !important;
    bottom: 1vh !important;
    right: 95vw !important;
    max-width: 120px !important;
    z-index: 99;
  }
  */

}