* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.faculty-glyphic-regular {
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.pixelify-sans-regular {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  background-attachment: fixed;
  position: relative;

  margin: 0 auto;
  display: flex;

  align-items: baseline;

  justify-content: center;
}

.menu {
  margin: 0 auto;
  width: fit-content;
  border: double 10px;
  border-color: #58189A;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background: black;
  background-image: url(elementbg2.gif);
}

.title {
  margin-top: 30px;
  position: relative;
  text-align: center;
  color: gray;
  font-family: "Faculty Glyphic", sans-serif;
  background-color: black;

  padding: 5px 50px 5px;
  margin-bottom: 20px;

}

.siteNavigation {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 700px;
  height: 50px;
  column-gap: 5px;
  margin-top: 5px;
  
}


.navButton {
  float: left;
  background-color: black;
  border: groove #9D4EDD;
  font-family: "Pixelify Sans", Courier, monospace;
  font-size: large;
  align-content: center;

  height: 50px;
  width: 90px;
  color: white;
  text-decoration: none;
}

.navButton:hover {
  background: black;
  color: #C5EFCB;
  border-color: #C5EFCB;
  cursor: pointer;
}

section {
  color: white;

  padding: 15px 100px 15px;
  margin-top: 20px;
  margin-bottom: 20px;

  box-sizing: border-box;
  width: 700px;

  font-family: "Faculty Glyphic", sans-serif;
}

.homeButton {
  background: black;
  color: white;
  border-color: #9D4EDD;
  padding: 15px 100px 15px;
  margin-bottom: 20px;

  box-sizing: border-box;
  max-width: 300px;
  width: 100vh;

  font-family: "Pixelify Sans", Courier, monospace;
  font-size: large;
  text-align: center;
}

.homeButton:hover {
  background: black;
  color: #C5EFCB;
  border-color: #C5EFCB;
  cursor: pointer;
}


.homeButton.projectButton {
  margin-top: 30px;
  max-width: fit-content;
}


#toggleBG {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 15px 15px 15px;
  max-width: 150px;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: underline;
  color: inherit;
}

@keyframes loopingText {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 180px 80px;
  }
}

@media only screen and (max-width: 1050px) {
  #toggleBG {
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  .menu {
    max-width: 360px;
  }

  .title {
    padding: 0;
  }

  .siteNavigation {
    justify-content: center;
    max-width: 340px;
  }

  .navButton {
    font-size: small;
    width: 62px
  }
  
  section {
    max-width: 320px;
    padding-left: 10px;
    padding-right: 10px;
  }
  /*
  #toggleBG {
    display: block !important;
    position: fixed !important;
    top: 90vh !important;
    right: 95vw !important;
    max-width: 120px !important;
    z-index: 99;
  }
  */
}