#Button4 {
  background: black;
  color: pink;
  border-color: pink;
  cursor: crosshair;
}

body {
  background-image: url("links.gif");
  animation: loopingText 50s linear infinite;
  height: 100vh;
}

