* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.faculty-glyphic-regular {
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.pixelify-sans-regular {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  position: relative;

  margin: 0 auto;
  display: flex;

  align-items: baseline;

  display: flex;
  justify-content: center;
}


body {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='100px'><text x='0' y='15' fill='purple' font-size='20' font-family='Courier New'>404</text></svg>");
  animation: loopingText 3s linear infinite;
  height: 100vh;
}

@keyframes loopingText {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: 100px 100px;
  }
}