html {
  scroll-behavior: smooth;
}

body {
  justify-content: left;
}

.rightSidebar h1 {
  color: #C5EFCB;
}

h3 {
  color: #A9C5A0;
}

h4 {
  color: #7f9478;
}

b {
  color: #d6a4ff;
}

i {
  color: #daffdf;
}

.container {
  box-sizing: border-box;
}

.flex {
  display: flex;
  box-sizing: border-box;
}

.menu {
  position: fixed;
  left: 10%;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 100vh;
}

.siteNavigation {
  width: 480px !important;
}

section {
  width: 480px !important;
  padding: 15px 50px 15px !important;
}

.rightSidebar {
  position: relative;
  margin-left: 650px;
  box-sizing: border-box;
  background-color: black;
  border: dashed #58189A 2px;
  color: white;
  height: fit-content;
  width: 50%;
  max-width: 800px;
  padding: 20px;
  line-height: 30px;

  font-family: "Faculty Glyphic", sans-serif;
}


.rightSidebar div[id] {
  display: none;
}


.rightSidebar div[id]:target {
  display: block;
}

.rightSidebar:target {
  display: block;
}

*/ body {
  background-image: url("blog.gif");
  animation: loopingText 6s linear infinite;
  height: 100vh;
}

.homeButton {
  display: flex;
  position: fixed;
  top: 85vh;
  left: 10px;
  align-self: center;
  max-width: 90px !important;
  padding: 15px 15px 15px !important;
}

#toggleBG {
  display: block;
  position: fixed !important;
  min-width: 150px;

}

.altTitle {
  display: none;

  margin-top: 30px;
  position: relative;
  text-align: center;
  color: gray;
  font-family: "Faculty Glyphic", sans-serif;
  background-color: black;

  padding: 5px 50px 5px;
  margin-bottom: 20px;
}

ul {
  padding-left: 30px;
}

/*DO NOT REMOVE*/
.homeButton.staticButton {
  display: inline;
  position: static;
  max-width: 300px !important;
  padding: 15px 15px 15px !important;
}

#Button3 {
  background: black;
  color: #C5EFCB;
  border-color: #C5EFCB;
  cursor: crosshair;
}

.grid-container {
  display: grid;

  background-color: black;
  border: solid black 10px;

  grid-template-columns: auto auto;

  column-gap: 20px;
  row-gap: 20px;

}

.grid-container-sketchbook {
  display: grid;

  background-color: black;
  border: solid black 10px;

  grid-template-columns: auto auto;

  column-gap: 20px;
  row-gap: 20px;

}

.grid-item {
  color: black;
  border: 1px solid black;
  font-size: 30px;
  text-align: center;

  min-width: 0;
  min-height: 0;
  max-height: 1000px;
}

.grid-item:hover {
  border: 1px solid white;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  min-width: 100%;
  min-height: 100%;
  max-width: 250px;
  max-height: 500px;
}

img.fill {
  object-fit: fill;
}

img.contain {
  object-fit: contain;
}

img.top {
  object-position: top;
}

img.right {
  object-position: right;
}

body {
  background-image: url("projects.gif");
  animation: loopingText 4s linear infinite;
  height: 100vh;
}

.looping {
  animation: loop 0.5s alternate-reverse infinite;
}

@keyframes loop {
  0% {
    color: #C5EFCB;
  }

  100% {
    color: #58189A;
  }
}

.desktop {
  display: contents;
}

.mobile {
  display: none;
}

/*************************
*MOBILE UI PROJECTS BELOW*
*************************/

.homeButton.mobileButton {
  display: inline;
  position: static;
  max-width: 200px !important;
  padding: 15px 15px 15px !important;
}

/*GLOBAL MOBILE CONDITIONS*/
@media only screen and (max-width: 1100px) {

  div .title,
  .sidebar {
    display: none;
  }

  .altTitle {
    display: block;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  #MButton3 {
    background: black;
    color: #C5EFCB;
    border-color: #C5EFCB;
    cursor: crosshair;
  }

  section {
    width: 1200px !important;
  }

  .rightSidebar {
    display: none;
  }

  .grid-container {
    grid-template-columns: auto auto auto;
  }

  .grid-container-sketchbook {
    grid-template-columns: auto auto auto;
  }

  .grid-item {
    color: black;
    border: 1px solid white;
    font-size: 30px;
    text-align: center;

    min-width: 0;
    min-height: 0;
    max-width: 300px;
    max-height: 300px;
  }

  .grid-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    max-width: 200px;
    max-height: 200px;
  }

}

@media only screen and (max-width: 1100px) and (min-width: 720px) {

  .menu {
    max-width: 620px;
    position: relative;
    left: 0;
  }

  .siteNavigation {
    justify-content: center;
    max-width: 340px;
  }

  .navButton {
    font-size: small;
    width: 62px
  }

  section {
    max-width: 620px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .projects {
    max-width: 1200px;
  }

}

@media only screen and (max-width: 720px) {

  .menu {
    max-width: 320px;
    position: relative;
    left: 0;
  }

  section {
    max-width: 320px;
  }

  .projects {
    max-width: 320px;
  }

}